/*共通*/
body{
    background-color: black;
    color: white;
    margin: 0;
}

span#text-color{
    color: white;
    font-size:36px;
    font-weight: 200;
}

@keyframes rainbow{
     0%{color:#e60000}
    12%{color:#f39800;}
    24%{color:#ffcf53;}
    36%{color:#e8ff53;}
    48%{color:#53ff5d;}
    60%{color:#53ffbc;}
    72%{color:#5393ff;}
    84%{color:#ca53ff;}
    100%{color:#ff53bd;}
}

/*digital*/
#RealtimeClockArea-digital{
    font-family: 'Share Tech Mono', monospace;
    font-size: 36px;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6;
    line-height: 1.2;
    text-align: center;
  }